<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <h1>The Home Page <%=4 + 5 + 1 %>
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente temporibus adipisci ut excepturi nesciunt,
            odio nobis, quisquam repellat eos hic nam suscipit cupiditate soluta magnam ullam ipsam architecto amet
            debitis!
            Veniam facilis exercitationem, vero eaque dolore animi praesentium ea corporis esse velit cumque? Facilis
            laborum explicabo quod impedit, id porro sit eveniet quibusdam quaerat officiis, consequuntur rem quisquam
            aliquam beatae.
            Minima aliquid incidunt repudiandae, nulla omnis consequuntur iure necessitatibus unde, excepturi, quos
            nobis autem placeat sint qui sunt deleniti culpa eveniet tempore quaerat quia. Facere iure consequatur aut
            soluta ipsum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit incidunt nihil, reprehenderit,
            assumenda possimus fuga quia eveniet dolores mollitia corrupti officia quos alias iusto inventore minima!
            Blanditiis, quia perspiciatis.
            Atque error porro repellendus alias, qui molestias aliquam expedita minus? Tenetur nemo saepe beatae facilis
            consequatur aut officiis illo placeat tempore repellat quis, eligendi reprehenderit ad optio illum animi
            delectus.
            Natus, asperiores. Iste necessitatibus tempore laboriosam amet sequi vitae non odio distinctio sint tenetur
            quod, laudantium velit maxime commodi soluta quae labore dolores, blanditiis nihil? Dignissimos voluptatum
            sed cupiditate eos?
            Voluptate in odit tempora possimus sequi, molestiae aperiam qui quod deserunt reprehenderit quis nam.
            Voluptas qui et nobis! Sequi, consequatur eos harum eligendi animi itaque excepturi nam consequuntur
            voluptates cupiditate.
            Asperiores veritatis, minima quae quaerat excepturi consequuntur ipsa impedit. Facilis, atque. Eum ullam
            provident voluptas quas illum, animi quae aut corrupti, tenetur dolor dolores nostrum in ea dignissimos
            maxime dolore!</p>
        <%- include('partials/footer') %>